<% if user_lists.present? %>
<table class="uk-table uk-table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>姓名</th>
      <th>是否参加</th>
      <th>是否乘车</th>
      <th>是否午餐</th>
      <th>家属</th>
    </tr>
  </thead>
  <% user_lists.each do |user_list| %>
      <tr <%= "class=uk-form-danger" if user_list.user.try(:is_attendance) == "不参加" %> >
        <td><%= user_list.id %></td>
      	<td><%= user_list.name %></td>
        <td><%= user_list.user.present? ? user_list.user.is_attendance : "" %></td>
        <td><%= user_list.user.present? ? user_list.user.is_car : "" %></td>
        <td><%= user_list.user.present? ? user_list.user.is_lunch : "" %></td>
        <td>
          <% if user_list.user.present? %>
            <% user_list.user.families.each do |family| %>
              姓名:<%= family.name %>, 类型:<%= family.family_type %><%if family.family_type != '成人'%>, 身高:<%= family.height %><%end%><br>
              身份证号:<%= family.id_number %>, 是否用午餐:<%= family.is_lunch %>, 是否乘车:<%= family.is_car %><br>
            <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<% end %>
