<% provide :c_active, "user_lists" %>
<%= render 'shared/navigation' %>

<% flash.each do |name, msg| %>
  <div class="uk-alert uk-alert-<%= name %>" data-uk-alert="">
    <a href="" class="uk-alert-close uk-close"></a>
    <p><%= msg %></p>
  </div>
<% end %>

<div id="upload-drop" class="uk-placeholder uk-text-center">
  <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i> 将文件拖拽至此 或 <a class="uk-form-file">选择一个文件<input id="upload-select" type="file"></a>.
</div>

<!-- 添加弹框 -->
<div class="uk-alert" data-uk-alert="">
  <button class="uk-button uk-button-primary uk-margin-left" data-uk-modal="{target:'#create'}">添加</button>
</div>
<div id="create" class="uk-modal" aria-hidden="true" style="display: none; overflow-y: scroll;">
  <div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close"></button>
    <div class="uk-modal-header">
      <h2>添加</h2>
    </div>
    <%= form_for UserList.new do |f| %>
      <div>
        <div class="uk-modal-content uk-form">Name:</div>
        <div class="uk-margin-small-top uk-modal-content uk-form">
          <p><%= f.text_field :name, placeholder: "姓名 ", class: "uk-width-1-1" %></p>
        </div>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button type="button" class="uk-button uk-modal-close">Cancel</button>
        <button type="submit" class="uk-button uk-button-primary">Save</button>
      </div>
    <% end %>
  </div>
</div>

<% if @user_lists.present? %>
<table class="uk-table uk-table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>姓名</th>
      <th colspan="2">操作</th>
    </tr>
  </thead>
  <% @user_lists.each do |user_list| %>
      <tr>
        <td><%= user_list.id %></td>
      	<td><%= user_list.name %></td>
        <td><%= link_to '修改', edit_user_list_path(user_list) %></td>
      	<td><%= link_to '删除', user_list_path(user_list), method: :delete, data: { confirm: '你确定要删除吗?' } %></td>
      </tr>
  <% end %>
</table>
<% end %>

<%= stylesheet_link_tag    '/media/css/components/upload.css' %>
<%= javascript_include_tag '/media/js/components/upload.min.js' %>
<%= stylesheet_link_tag '/media/css/components/form-file.min.css' %>

<script type="text/javascript">
$(function(){

  var progressbar = $("#progressbar"),
      bar         = progressbar.find('.uk-progress-bar'),
      settings    = {
        action: '/user_lists/upload', // 上传路径 url
        allow : '*.(jpg|jpeg|gif|png|xlsx)', // 只允许上传图片
        loadstart: function() {
            bar.css("width", "0%").text("0%");
            progressbar.removeClass("uk-hidden");
        },
        progress: function(percent) {
            percent = Math.ceil(percent);
            bar.css("width", percent+"%").text(percent+"%");
        },
        allcomplete: function(response) {
            bar.css("width", "100%").text("100%");
            setTimeout(function(){
                progressbar.addClass("uk-hidden");
            }, 250);
            console.log(response);
            console.log(typeof(response));
            location.href = '/user_lists/import_preview?cache_key=' + response;
        }
    };

  var select = UIkit.uploadSelect($("#upload-select"), settings),
      drop   = UIkit.uploadDrop($("#upload-drop"), settings);
});
</script>
