<div class="register-box">
  <h1 class="title">Abcam库存查询</h1>
  <p>*以下库存数据更新截止至前一天下午3点半,会与实时数据稍有误差</p>
    <% if @inventories.present? %>
      <table class="uk-table uk-table-hover">
        <thead>
          <tr>
            <th>产品货号</th>
            <th>产品规格</th>
            <th>库存数量</th>
            <th>库存位置</th>
          </tr>
        </thead>
        <% @inventories.each do |inventory| %>
            <tr>
              <td>ab<%= inventory.abid %></td>
              <td><%= inventory.size %><%= inventory.unit %></td>
              <td><%= inventory.available_quantity %></td>
              <td><%= Fridge.find_by_fridge(inventory.fridge).try(:site) %></td>
            </tr>
        <% end %>
      </table>
    <% else %>
      AbID: <%= params[:post][:abid] if params[:post] && params[:post][:abid] %> 没有找到库存
    <% end %>
  <br />

  <a href="/abid_research"><<<返回</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</div>
<style type="text/css" media="screen">
  .tm-article-subtitle {
    padding-left: 6px;
    border-left: 3px solid #1FA2D6;
    font-size: 16px;
    line-height: 16px;
  }
</style>
