<% provide :c_active, "user_lists" %>
<%= render 'shared/navigation' %>
<br/>
<div class="uk-panel uk-panel-box">
  <%= form_for @user, html: { class: "uk-form uk-form-stacked" } do |f| %>
    <div class="uk-form-row">
      <label class="uk-form-label" for="">姓名<span style="color:red;">*</span></label>
      <div class="uk-form-controls">
        <input type="text" id="username" value="<%= @user.name %>" name="post[username]" class="uk-width-1-1" placeholder="请输入您的真实姓名">
      </div>
    </div>

    <div class="uk-form-row">
      <label class="uk-form-label" for="">年龄<span style="color:red;">*</span></label>
      <div class="uk-form-controls">
        <input type="number" id="age" value="<%= @user.age %>" name="post[age]" class="uk-width-1-1" placeholder="请输入您的年龄">
      </div>
    </div>

    <div class="uk-form-row">
      <label class="uk-form-label" for="">性别<span style="color:red;">*</span></label>
      <div class="uk-form-controls">
         <span class="id-pre uk-width-1-1">
           <select id="pre" name="post[pre]">
             <option value="男" <%= 'selected="selected"' if @user.pre == '男' %>>男</option>
             <option value="女" <%= 'selected="selected"' if @user.pre == '女' %>>女</option>
          </select>
         </span>
      </div>
    </div>

    <div class="uk-form-row">
      <label class="uk-form-label" for="">手机号码<span style="color:red;">*</span></label>
      <div class="uk-form-controls">
        <input type="number" id="phone" value="<%= @user.phone %>" name="post[phone]" class="uk-width-1-1" placeholder="请输入您的手机号码">
      </div>
    </div>

    <div class="uk-form-row">
      <label class="uk-form-label" for="">学历</label>
      <div class="uk-form-controls">
        <input type="text" id="attendance" value="<%= @user.attendance %>" name="post[attendance]" class="uk-width-1-1" placeholder="请输入您的学历">
      </div>
    </div>

    <div class="uk-form-row">
      <label class="uk-form-label" for="">爱好</label>
      <div class="uk-form-controls">
        <textarea id="notes" cols="30" rows="5" placeholder="请输入您的兴趣爱好" class="uk-width-1-1" name="post[notes]"><%= @user.notes %></textarea>
      </div>
    </div>

    <div class="uk-form-row">
      <label class="uk-form-label" for="btn_submit">
      <a class="uk-button uk-button-primary" href="/users">返回</a>
      <button class="uk-button uk-button-primary uk-margin-left" id="btn_submit" type="submit">保存</button>
      </label>
    </div>
  <% end %>
</div>
