<% provide :c_active, "users" %>
<%= render 'shared/navigation' %>

<!-- 添加弹框 -->
<div class="uk-alert" data-uk-alert="">
  <button class="uk-button uk-button-primary uk-margin-left" data-uk-modal="{target:'#create'}">添加</button>
  <a class="uk-button uk-button-primary uk-margin-left" href="/users.xlsx">导出</a>
  Total: <%= User.count %>
</div>
<div id="create" class="uk-modal" aria-hidden="true" style="display: none; overflow-y: scroll;">
  <div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close"></button>
    <div class="uk-modal-header">
      <h2>添加</h2>
    </div>
    <%= form_for User.new, url: admin_create_users_path do |f| %>
      <div>
        <div class="uk-margin-small-top uk-modal-content uk-form">
          <div class="uk-form-row">
            <label class="uk-form-label" for="">姓名:</label>
            <div class="uk-form-controls">
              <input type="text" id="username" value="" name="user[username]" class="uk-width-1-1" placeholder="请输入你的真实姓名">
            </div>
          </div>
        </div>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button type="button" class="uk-button uk-modal-close">Cancel</button>
        <button type="submit" class="uk-button uk-button-primary">Save</button>
      </div>
    <% end %>
  </div>
</div>

<% if @users.present? %>
  <table class="uk-table uk-table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>电脑类型</th>
        <th>删除</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr <%= "class=uk-form-danger" if user.is_attendance == "不参加" %> >
      	<td><%= user.id %></td>
      	<td><%= user.name %></td>
      	<td><%= user.is_attendance %></td>
      	<td><a href="/users/delete?id=<%=user.id%>">删除</a></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @users, renderer: WillPaginate::ActionView::BlogLinkRenderer %>
<% end %>
