<div class="register-box">
  <h1 class="title">报名结果</h1>
    <% if @user.present? %>
      <div class="uk-form-row">
        <label style="font-weight: bold;">姓名: </label> <%= @user.name %>
      </div>
      <div class="uk-form-row">
        <label style="font-weight: bold;">年龄: </label> <%= @user.age %>
      </div>
      <div class="uk-form-row">
        <label style="font-weight: bold;">性别: </label> <%= @user.pre %>
      </div>
      <div class="uk-form-row">
        <label style="font-weight: bold;">手机号码: </label> <%= @user.phone %>
      </div>
      <div class="uk-form-row">
        <label style="font-weight: bold;">学历: </label> <%= @user.attendance %>
      </div>
      <div class="uk-form-row">
        <label style="font-weight: bold;">爱好: </label> <%= @user.notes %>
      </div>
    <% else %>
      姓名和ID不匹配，查询失败
    <% end %>
  <br />

  <a href="/"><<<返回</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</div>
<style type="text/css" media="screen">
  .tm-article-subtitle {
    padding-left: 6px;
    border-left: 3px solid #1FA2D6;
    font-size: 16px;
    line-height: 16px;
  }
</style>
