<div class="register-box">
  <h1 class="title">报名结果</h1>
    <% if @user.present? %>
      <div class="uk-form-row">
        <label style="font-weight: bold;">姓名: </label> <%= @user.name %>
      </div>
      <div class="uk-form-row">
        <label style="font-weight: bold;">身份证号: </label> <%= @user.id_number %>
      </div>
      <div class="uk-form-row">
        <label style="font-weight: bold;">联系方式: </label> <%= @user.phone %>
      </div>
      <div class="uk-form-row">
        <label style="font-weight: bold;">是否乘坐大巴: </label> <%= @user.is_car %>
      </div>
      <div class="uk-form-row">
        <label style="font-weight: bold;">备注: </label> <%= @user.notes %>
      </div>
      <!--
      <div class="uk-form-row">
        <label style="font-weight: bold;">车型/颜色: </label> <%= @user.is_lunch %>
      </div>
      <div class="uk-form-row">
        <label style="font-weight: bold;">是否参与摇号: </label> <%= @user.is_attendance %>
      </div>
      -->



      <% if @user.families.present? %>
        <h3 class="tm-article-subtitle">家属</h3>
      <% end %>
      <div class="uk-form-row families-div">
        <% @user.families.each do |family| %>
          <ul class="uk-list">
            <li><label style="font-weight: bold;">姓名: </label> <%= family.name %>(<%= family.family_type %>)</li>
            <li><label style="font-weight: bold;">身高: </label> <%= family.height %></li>
            <li><label style="font-weight: bold;">身份证号: </label> <%= family.id_number %></li>
          </ul>
        <% end %>
      </div>
    <% else %>
      姓名和ID不匹配，查询失败
    <% end %>

</div>
<style type="text/css" media="screen">
  .tm-article-subtitle {
    padding-left: 6px;
    border-left: 3px solid #1FA2D6;
    font-size: 16px;
    line-height: 16px;
  }
</style>
