
<div class="welcome-box">
  <h2 class="title"><%= @web_config["web_name"] %></h2>
  <% if @user.present? %>
    <p style="text-align: center;">
      <img src="<%= @user.avatar_url %>" style="width: 100px; border: 1px #eee solid; border-radius: 5px;" />
    </p>
    <h3>
      系统欢迎 "<%=@user.name%>" 的加入,
      <% if @user.is_active %>
        你的信息已被激活生效
      <% else %>
        请在会场签到激活你的信息
      <% end %>
    </h3>
  <% end %>
  <p>当前参加：<%=@count%>人</p>
  <p>
    <a href="/register">报名入口</a>
  </p>
  <p>
    活动日期：<%= @web_config["time"] %> <br />
    活动地点：<%= @web_config["address"] %>
  </p>
</div>
