
<div class="welcome-box">
  <h2 class="title"><%= @web_config["web_name"] %></h2>
  <% if @user.present? %>
    <!-- <p style="text-align: center;">
      <img src="<%#= @user.avatar_url %>" style="width: 100px; border: 1px #eee solid; border-radius: 5px;" />
    </p> -->
    <h3>
      "<%=@user.name%>" 报名成功
      <br>
      有任何问题可以联系徐冯晓，或者行政部门
      <br>
      系统id(<span style="color:red;"><%= @user.id %></span>, 已通过短信发送)用于查询<a href="/users/research?utf8=✓&post[username]=<%=@user.name%>&post[user_id]=<%=@user.id%>">报名结果</a>
    </h3>
  <% end %>
  <p>当前参加：<%=@count%>人</p>
  <p>
    <a href="/register">报名入口</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="/research">查询入口</a>
  <!-- 亲，你来晚了，等着小组长统计吧 -->
  </p>
  <p>
    <!--活动日期：<%= @web_config["time"] %> <br />
      活动地点：<%= @web_config["address"] %><br />-->
    请在邮件中查看详情<br />
    <!--<a href="/activity_introduction">点击查看活动详情</a>-->
  </p>
</div>
