<!DOCTYPE html>
<html>
  <head>
    <title><%= @web_config["web_name"] %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag '/media/jquery-3.1.1.min.js' %>
    <%= javascript_include_tag '/media/three/three.min.js' %>
    <%= javascript_include_tag '/media/three/Detector.js' %>
    <%= javascript_include_tag '/media/three/tween.min.js' %>
    <%= javascript_include_tag '/media/three/CSS3DRenderer.js' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
