<!DOCTYPE html>
<html>
<head>
	<title><%= @web_config["web_name"] %></title>
	<meta charset="utf-8">
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <%= stylesheet_link_tag    '/media/css/uikit.almost-flat.min.css' %>
  <%= stylesheet_link_tag    '/media/default.css' %>
  <%= javascript_include_tag '/media/jquery-3.1.1.min.js' %>
  <%= javascript_include_tag '/media/js/uikit.min.js' %>
</head>

<body>
	<%= yield %>
</body>
</html>
