<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>abcam 20 years anniversary celebration</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    '/media/css/uikit.almost-flat.min.css' %>
    <%= stylesheet_link_tag    '/media/default.css' %>
    <%= javascript_include_tag '/media/jquery-3.1.1.min.js' %>
    <%= javascript_include_tag '/media/js/uikit.min.js' %>


  </head>

  <body class="container">
    <%= yield %>

  </body>
</html>
