<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%= @web_config["web_name"] %></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    '/media/css/uikit.almost-flat.min.css' %>
    <%= stylesheet_link_tag    '/media/default.css' %>
    <%= javascript_include_tag '/media/jquery-3.1.1.min.js' %>
    <%= javascript_include_tag '/media/js/uikit.min.js' %>

    <%#= content_for?("#{params[:controller]}/scripts") ? render("#{params[:controller]}/scripts") : nil %>
    <% fetch_script %>
    <%= template_exists?("#{params[:controller]}/scripts") ? render("#{params[:controller]}/scripts") : nil %>
    <!-- <%= render "#{params[:controller]}/scripts" %> -->

  </head>

  <body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <%= yield %>
  </div>
  </body>
</html>
